/* ===== CUSTOM GREEN SCROLLBAR ===== */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e9f7ef;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2fbf5d, #1f8a46);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f8a46;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2fbf5d #e9f7ef;
}
                                                                      