#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.fs-sm {
  font-size: 0.875rem;
}

.navbar-brand-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  
  background-image: linear-gradient(to right bottom, #046308, #006949, #006a7f, #0066a2, #0c5ba7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.form-control,
.form-check-input,
button {
  box-shadow: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sidebar-list {
  transition: all 0.1s ease-in-out;
}

.sidebar-list:hover {
  transition: all 0.1s ease-in-out;
  background-color: #f8f9fa;
  transform: translatey(-3px);
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
